@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:700);
.namesetback {
    background-color: #fff;
}

.gamelinkbotton {
    color: #0b9bd4;
    font-size: 20px;
    font-family: 'DotGothic16', sans-serif;
}

.linkbotton {
    font-family: 'DotGothic16', sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.linkbotton:hover {
    animation: linkbotton 3.8s ease 0s infinite alternate none running;
}

@keyframes linkbotton {
    0% {
        border-bottom: #a2a2a2 solid 3px;
    }
    25% {
        border-bottom: #808080 solid 3px;
    }
    50% {
        border-bottom: #414141 solid 3px;
    }
    75% {
        border-bottom: #4f4f4f solid 3px;
    }
    100% {
        border-bottom: #808080 solid 3px;
    }
}

.accountmark {}